<% @trips.each do |trip| %>
<span class="row-fluid">
	<span class="span8 offset2">
		<h3><%= link_to trip.name, trip %></h3>
		<p>Owner: <%= trip.user.name %><br />Waypoints: <%= trip.waypoints.length %><br />Updated on: <%= trip.updated_at %></p>
		<hr />
	</span>
</span>
<% end %>